<% 
	@page_title = "Races" 
	@menu_item = "Meta"
%>


<% content_for :sidebar do %>
	<div class="races">
			<%= render(:partial => 'main/meta_menu') %>
	</div>
<% end %>

<% content_for :main_content do %>
	<p><%= render_breadcrumbs %></p>
	<%= render(:partial => 'application/flash_notify') %>


		<h2>Character Races:</h2>
		<% if @races.count == 0 %>
			<p>No races currently exist...</p>
		<% else %>

		
		<table id="classes-table">
			<tr>
				<th>Name</th>
				<th>Actions</th>
			</tr>
			<% @races.each do |race| %>
				<tr>
					<td><%= race.name %></td>
					<td>
						<%= link_to("edit", edit_race_path(race)) %> / 
						<%= link_to "delete", race, {:method => :delete} %>
					</td>
				</tr>
			<% end %>
		</table>
		<% end %>
		
		<p>
			<%= link_to("Add Race", new_race_path, :class => "btn-green") %>
		</p>

	<% end %>