<%= error_messages_for(f.object) %>



<table summary="Feat form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th>Type</th>
    <td><%= f.select :use_type, ["Action", "Passive"] %></td>
  </tr>
  <tr>
    <th>Uses</th>
    <td><%= f.select :uses, ['NA', 1,2,3,4,5, 'custom'] %></td>
  </tr>
  <tr>
    <th>Reset</th>
    <td><%= f.text_field :reset %></td>
  </tr>
 <tr>
    <th>Description</th>
    <td>
    <%= f.hidden_field(:description) %>
      <div id="description">
        <%= html_description(@feat.description) || "Enter a description..." %>
      </div>

        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.2.4/quill.js"></script>
        
        <script>
        var quill = new Quill('#description', {
            theme: 'snow',
          });
      </script>
    </td>
  </tr>
</table>

<!-- WYSIWYG -->
