<% @page_title = "Edit Feat" %>
<% @menu_item = "Feats" %>


<script type="text/javascript">
  var form = document.querySelector("#edit_feat_<%= @feat.id %>.edit_feat");
  form.onsubmit = function() {
    var featContentInput = document.querySelector('#feat_description');
    featContentInput.value = quill.root.innerHTML;
  };
</script>

<% content_for :sidebar do %>
<ul id="sidebar-nav">
	<li>
		<%= link_to("Cancel", feat_path(@feat), :class => 'btn-red') %>
	</li>
</ul>
<% end %>

<% content_for :main_content do %>
	<div class="feat update">

	  <%= form_for(@feat) do |f| %>

	    <%= render(:partial => 'form', :locals => {:f => f}) %>

	    <div class="form-buttons">
	      <%= f.submit("Update Feat", :class => "btn-green") %>
	    </div>

	  <% end %>
	</div>
<% end %>