<% 
	@page_title = @spellbook.name 
%>


<% content_for :sidebar do %>
	<ul id="sidebar-nav">
		<li>
			<%= link_to("Edit", edit_spell_book_path(@spellbook,:character_id => @character.id), :class => 'btn-green') %>
		</li>
		<li>
			<%= link_to("Delete", delete_spell_book_path(@spellbook, :character_id => @character.id), :class => 'btn-red') %>
		</li>
	</ul>
<% end %>

<% content_for :main_content do %>
		<p><%= render_breadcrumbs %></p>
		<%= render(:partial => 'application/flash_notify') %>
	
		<div id="spellbook_details">
			<h2>Spellbook: <%= @spellbook.name %></h2>
			<p>
				<%= @spellbook.description %><br></%>
			</p>
			<p>
				<br><%= link_to("Print", print_spell_book_path(@spellbook, :character_id => @character.id), :target => "_blank", :class => "btn-green") %>
			</p>
		</div>
		<div id="spellbook_spells">
			<div id="inscribed">
				<h2>Inscribed Spells:</h2>
				<% if @spellbook.spells.count == 0 %>
					<p>No spells have been inscribed</p>
				<% else %>

				<p>Click headings to sort...</p>
				<table id="spell-table">
					<tr>
						<th onclick="sortTable(0)">Name</th>
						<th onclick="sortTable(1)">Level</th>
						<th onclick="sortTable(2)">School</th>
						<th>X</th>
					</tr>
					<% @spellbook.spells.each do |spell| %>
						<tr>
							<td><%= spell.name %></td>
							<td><%= spell.level_display %></td>
							<td><%= spell.school %></td>
							<td><%= link_to("X", erase_spell_book_path(@spellbook, :spell_id => spell.id, :character_id => @character.id, :method => :delete), :class => 'btn-red') %></td>
						</tr>
					<% end %>
				</table>
				<% end %>
			</div><!-- end #inscribed -->

			<div id="spell_list">
				<h2>All Spells:</h2>
				<%= form_for(@spellbook, :url => inscribe_spell_book_path(@spellbook, :character_id => @character.id), :method => :post) do |f| %>
				<p>
					<%= select_tag("inscribe_spells[]", options_for_select(@spell_options), {:multiple => true, :size => 10}) %>
					<br><%= f.submit("Inscribe", :class => "btn-green") %>
				</p>
				<% end %>
			</div>
			<div style="clear:both;"
		</div>
<% end %> <!-- main content -->