<% 
	@page_title = @player.name 
%>


<script type="text/javascript">
		openTab(event, 'feats')
</script>


<% content_for :sidebar do %>
	<ul id="sidebar-nav">
		<li>
			<%= link_to("Edit", edit_character_path(@character,:player_id => @player.id), :class => 'btn-green') %>
		</li>
		<li>
			<%= link_to("Delete", delete_character_path(@character, :player_id => @player.id), :class => 'btn-red') %>
		</li>
	</ul>
<% end %>

<% content_for :main_content do %>
		<p><%= render_breadcrumbs %></p>
		<%= render(:partial => 'application/flash_notify') %>
	
		<div id="player_details">
			<h2><%= @player.name %></h2>
			<p>
				<%= @player.email %><br></%>
				<%= @player.phone %>
			</p>
		</div>

		<div id="character_details">
			<h2><%= @character.name %></h2>
			<p>
				<%= @character.summary %> 
			</p>
		</div>

<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'feats')">Feats</button>
  <button class="tablinks" onclick="openTab(event, 'spellbooks')">Spellbooks</button>
</div>

<div id="feats" class="tabcontent">
	<h4>Feats:</h4>
		<div id="trained_feats">
			<h2>Trained Feats:</h2>
			<% if @character.feats.count == 0 %>
				<p>No feats have been trained</p>
			<% else %>
			<%= link_to("Print Feats", print_feats_character_path(@character, :player_id => @player.id), :target => "_blank", :class => 'btn-green') %>
			<p>Click headings to sort...</p>
			<table id="spell-table">
				<tr>
					<th onclick="sortTable(0)">Name</th>
					<th onclick="sortTable(1)">Type</th>
					<th onclick="sortTable(2)">Uses</th>
					<th>X</th>
				</tr>
				<% @character.feats.sorted.each do |feat| %>
					<tr>
						<td><%= link_to feat.name, feat_path(feat) %></td>
						<td><%= feat.use_type %></td>
						<td>
							<%= feat_uses_display(feat) %>
						</td>
						<td><%= link_to("X", untrain_feat_character_path(@character, :feat_id => feat.id, :character_id => @character.id, :player_id => @player.id, :method => :delete), :class => 'btn-red') %></td> 
					</tr>
				<% end %>
			</table>
			<% end %>
		</div><!-- end #inscribed -->

		<div id="all_feats">
			<h2>All Feats:</h2>
			<%= form_for(@character, :url => train_feat_character_path(@character, :character_id => @character.id, :player_id => @player.id), :method => :post) do |f| %>
				<p>
					<%= select_tag("train_feats[]", options_for_select(@feat_options), {:multiple => true, :size => 10}) %>
					<br><%= f.submit("Train", :class => "btn-green") %>
				</p>
				<% end %>
		</div>
			<div style="clear:both;"></div>
</div>


<div id="spellbooks" class="tabcontent">

	<h4>Spell Books:</h4>
	<% if @character.spell_books.count == 0 %>
	<p>
		No Spellbooks have been created for this character.
	</p>
	<% else %>
	<table id="spellbook-table">
		<% @character.spell_books.each do |book| %>
		<tr>
			<td><%= link_to(book.name, spell_book_path(book, :character_id => @character.id)) %></td>
			<td>Print</td>
		</tr>
		<% end %>
	</table>
	<% end %>
	<%= link_to("Add Spellbook", new_spell_book_path(:character_id => @character.id), :class => "btn-green") %>
</div> 
	


<% end %>