<% @page_title = "Add Spell" %>
<% @menu_item = "Spells" %>


<script type="text/javascript">
  var form = document.querySelector("#edit_spell_<%= @spell.id %>.edit_spell");
  form.onsubmit = function() {
    var spellContentInput = document.querySelector('#spell_description');
    spellContentInput.value = quill.root.innerHTML;
  };
</script>

<% content_for :sidebar do %>
<ul id="sidebar-nav">
	<li>
		<%= link_to("Cancel", spell_path(@spell), :class => 'btn-red') %>
	</li>
</ul>
<% end %>

<% content_for :main_content do %>
	<div class="spell update">

	  <%= form_for(@spell) do |f| %>

	    <%= render(:partial => 'form', :locals => {:f => f}) %>

	    <div class="form-buttons">
	      <%= f.submit("Update Spell", :class => "btn-green") %>
	    </div>

	  <% end %>
	</div>
<% end %>