<% 
	@page_title = "Spells" 
	@menu_item = "Spells"
%>


<% content_for :sidebar do %>
	<ul id="sidebar-nav">
		<li>
			<%= link_to("Add Spell", new_spell_path, :class => 'btn-green') %>
		</li>
	</ul>
<% end %>

<% content_for :main_content do %>
	<p><%= render_breadcrumbs %></p>
	<%= render(:partial => 'application/flash_notify') %>


		<h2>Spell List:</h2>
		
		<% if @spells.count == 0 %>
			<p>No spells currently exist...</p>
		<% else %>
		<p>Click headings to sort...</p>
		<table id="spell-table">
			<tr>
				<th onclick="sortTable(0)">Name</th>
				<th onclick="sortTable(1)">Level</th>
				<th onclick="sortTable(2)">School</th>
			</tr>
			<% @spells.each do |spell| %>
				<tr>
					<td><%= link_to(spell.name, spell_path(spell)) %></td>
					<td><%= spell.level_display %></td>
					<td><%= spell.school %></td>
				</tr>
			<% end %>
		</table>
		<% end %>

<% end %>