<% 
	@page_title = "Players" 
	@menu_item = "Players"
%>


<section id="sidebar">
	<p>Actions:</p>
	<p>
		<%= link_to("Add Player", new_player_path, :class => 'btn-green') %>
	</p>
</section>

	<section id="main">
	<p><%= render_breadcrumbs %></p>
	
		<h2>Current Players:</h2>
		<% if @players.nil? %>
			<p>No players currently exist...</p>
		<% else %>

		<table id="player-table">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<!-- <th>Campaigns</th> -->
			</tr>
			<% @players.each do |player| %>
				<tr>
					<td><%= link_to(player.name, player_path(player)) %></td>
					<td><%= player.email %></td>
					<td><%= player.phone %></td>
				</tr>
			<% end %>
		</table>
		<% end %>

	</section>