<% 
	@page_title = @player.name 
	@menu_item = "Players"
%>


<% content_for :sidebar do %>
	<p>Actions:</p>
	<p style="text-align: center;">
		<%= link_to("Edit", edit_player_path(@player), :class => 'btn-green') %> <br>
	</p>
	<p style="text-align: center;">
		<%= link_to("Delete", delete_player_path(@player), :class => 'btn-red') %>
	</p>
<% end %>

<% content_for :main_content do %>
		<p><%= render_breadcrumbs %></p>
		<%= render(:partial => 'application/flash_notify') %>
	
		<div id="player_details">
			<h2><%= @player.name %></h2>
			<p>
				<%= @player.email %><br></%>
				<%= @player.phone %>
			</p>
		</div>

		<div id="player_characters">
			<h3>Characters:</h3>
			<p>No characters currently exist for this player...</p>

			<p>
				<%= link_to("Add Character", player_path(@player), :class => "btn-green") %>
			</p>

		</div>
<% end %>