<% 
	@page_title = @player.name 
	@menu_item = "Players"
%>


<% content_for :sidebar do %>
	<ul id="sidebar-nav">
		<li>
			<%= link_to("Edit", edit_player_path(@player), :class => 'btn-green') %>
		</li>
		<li>
			<%= link_to("Delete", delete_player_path(@player), :class => 'btn-red') %>
		</li>
	</ul>
<% end %>

<% content_for :main_content do %>
		<p><%= render_breadcrumbs %></p>
		<%= render(:partial => 'application/flash_notify') %>
	
		<div id="player_details">
			<h2><%= @player.name %></h2>
			<p>
				<%= @player.email %><br></%>
				<%= @player.phone %>
			</p>
		</div>

		<div id="player_characters">
			<h3>Characters:</h3>
			<p>No characters currently exist for this player...</p>

			<p>
				<%= link_to("Add Character", new_character_path(:player_id => @player.id), :class => "btn-green") %>
			</p>

		</div>
<% end %>