<!DOCTYPE html>
<html>
  <head>
    <title>
    	DndTools
    	<%= 
    		unless @page_title.nil?
    			" | #{@page_title}"
    		end
    	%> 
	</title>

    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= javascript_include_tag 'application' %>
  </head>




	<body class="<%= @menu_item || ''%>">

		<header id="site-header">
			<h1>DND Tools</h1>
			<nav id="main-nav">
				<ul>
					<li class="Players"><%= link_to("Players", players_path) %></a></li>
					<li><a href="#">Campaigns</a></li>
					<li><a href="#">Feats</a></li>
					<li><a href="#">Spells</a></li>
				</ul>
			</nav>
		</header>

		
		<section id="main-content">

			<%= yield %>
		
		</section>


	</body>
  </div>
</html>
