<!DOCTYPE html>
<html>
  <head>
    <title>
    	DndTools
    	<%= 
    		unless @page_title.nil?
    			" | #{@page_title}"
    		end
    	%> 
	</title>

    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= javascript_include_tag 'application' %>
    <link href="https://cdn.quilljs.com/1.1.6/quill.snow.css" rel="stylesheet">

  </head>




	<body class="<%= @menu_item || ''%>">

		<header id="site-header">
			<h1>DND Tools</h1>
			<nav id="main-nav">
				<ul>
					<li class="Players"><%= link_to("Players", players_path) %></a></li>
					<!-- <li><a href="#">Campaigns</a></li> -->
					<li class="Feats"><%= link_to("Feats",feats_path) %></li>
					<li class="Spells"><%= link_to("Spells", spells_path) %></li>
					<li class="Meta"><%= link_to("Meta", character_classes_path) %></li>
				</ul>
				
			</nav>

		</header>

		
		<section id="main-content">
			<section id="sidebar">
				<%= yield :sidebar %>
				<%= link_to "logout", access_logout_path %>
			</section>

			<section id="main">
				<%= yield :main_content %>
			</section>

			<%= yield %>
		
		</section>


	</body>
  </div>
</html>
